/.AbstractModelQueryFitnessFunction.java._trace
/.CRAModelProvider.java._trace
/.ClassesCounter.java._trace
/.MinimiseClasslessFeatures.java._trace
/.ModelLoadHelper.java._trace
/.RunOptimisation.java._trace
/.AbstractModelQueryFitnessFunction.xtendbin
/.CRAModelProvider.xtendbin
/.ClassesCounter.xtendbin
/.MinimiseClasslessFeatures.xtendbin
/.ModelLoadHelper.xtendbin
/.RunOptimisation.xtendbin
/AbstractModelQueryFitnessFunction.java
/CRAModelProvider.java
/ClassesCounter.java
/MinimiseClasslessFeatures.java
/ModelLoadHelper.java
/RunOptimisation.java
/.MaximiseCRA.java._trace
/.MaximiseCRA.xtendbin
/MaximiseCRA.java
